<div class="board"></div>
<div class="container-fluid">
  <div class="buttons">
    <img src="assets/M.png">
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-12">
          <input type="text" placeholder="Pseudonyme" [attr.disabled]="clicked ? true : null"
            class="w-100 form__input" maxlength="16" formControlName="name">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-8"><button type="submit" class="button-19 w-100"><i
              [ngClass]="clicked ? 'fa fa-spinner fa-spin fa-fw' : ''" aria-hidden="true"></i> Créer la partie</button>
        </div>
        <div class="col-4">
          <button class="button-19 w-100" routerLink="/">Retour</button>
        </div>
      </div>

    </form>
  </div>
</div>
