
<div *ngFor="let board of boards">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://avatars.dicebear.com/api/adventurer-neutral/{{board.username }}.svg?size=128">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>

game : {{ board.Game | json }}
<hr>
board : {{ board | json }}
<hr>
boards: {{ boards | json}}
<hr>
Player board[0] : {{ boards[0].Player | json}}
