<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToastBtnError" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto text-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Serveur</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body text-danger">
      {{ globalError }}
    </div>
  </div>
  <div id="liveToastBtnSuccess" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto text-success"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Serveur</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body text-success">
      {{ gloabalSuccess }}
    </div>
  </div>
</div>


<div class="container-fluid">
  <div id="login-box">
    <form class="form-signin" [formGroup]="signupForm" (ngSubmit)="registerUser()">
      <div class="left">
        <h1>S'enregistrer</h1>
        <div class="form-floating">
          <input class="form-input form-control" type="text" pattern="^[a-zA-Z\-\_0-9\$\:\@]{3,17}$" placeholder="Nom d'utilisateur" minlength="2" maxlength="16" (keyup)="resetForm($event)" formControlName="name" required />
          <div class="error"></div>
          <label for="floatingInput">Nom d'utilisateur</label>

        </div>
        <div class="form-floating">
          <input class="form-input form-control" type="email" formControlName="email" (keyup)="resetForm($event)" [email]="true" placeholder="Email" required />
          <div class="error"></div>
          <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating">
          <input class="form-input form-control" type="password" minlength="6" maxlength="60" name="password" (keyup)="resetForm($event)" formControlName="password" placeholder="Mot de passe" required />
          <div class="error"></div>
          <label for="floatingInput">Mot de passe</label>
        </div>
        <div class="form-floating">
          <input class="form-input form-control" type="password" name="password2" (keyup)="resetForm($event)" formControlName="password2" placeholder="Re-tapez le mot de passe"
            required />
          <div class="error"></div>
          <label for="floatingInput ">Répeter le mot de passe</label>
        </div>
        <input type="submit" name="signup_submit" value="S'enregistrer" />
        <br>
        <br>
        Déjà un compte ? <a routerLink="/login">Se connecter</a>
      </div>

      <div class="right">
        <span class="loginwith text-black">S'enregistrer<br />avec un compte</span>
        <div id="gSignIn"></div>
        <div class="userContent"></div>
        <button class="social-signin facebook"><i class="fa fa-facebook"></i> Facebook</button>
        <button class="social-signin twitter"><i class="fa fa-twitter"></i> Twitter</button>
        <button class="social-signin google"><i class="fa fa-google"></i> Google</button>
      </div>
      <div class="or"><span class="position-relative" style="z-index: 1">OU</span></div>
    </form>
  </div>
</div>
